#sphere-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}
#sphere {
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
}