.form{
    color: $colorAccentDark;

    padding: px-to-rem(55);
    display: flex;
    flex-direction: column;

    &__inpt{
        font-size: px-to-rem(15);
        line-height: px-to-rem(24);
        margin-bottom: px-to-rem(30);
        border: none;
        border-bottom: 1px solid $colorAccentDark;
    }

    &__textarea {
        resize: none;
    }

    &__btn{
        align-self: flex-end;
        padding: px-to-rem(9) px-to-rem(12) px-to-rem(7);
        background-color: $colorAccentDark;
        border: 1px solid $colorAccentDark;
        color: $colorAccent;
        transition: all 0.3s;
        border-radius: 2px;

        &:hover{
            border: 1px solid $colorAccent;
        }
    }
}