.header {
    position: relative;
    padding-top: px-to-rem(50);

    &__top {
        @include flex(row, space-between);
        align-items: center;
    }

    &__nav {
        

        @include for-desktop-up {
            
        }
    }

    &__btn-nav{
        background-color: white;
        border: none;
        --size-btn: #{px-to-rem(20)};
        height: var(--size-btn);
        width: var(--size-btn);
        
        @include for-desktop-up{
            display: none;
        }

        &:hover{
            background-color: var(--color-accent);
        }
        &:active{
            background-color: var(--color-text);
        }
    }

    &__nav-list {
        visibility: hidden;
        @include flex(column, space-between);
        position: absolute;
        z-index: 100;
        top: px-to-rem(50);
        right: px-to-rem(20);
        font-size: px-to-rem(17);

        @include for-desktop-up {
            visibility: visible;
            flex-direction: row;
            position: static;    
        }
    }

    &__nav-item {
        margin-bottom: px-to-rem(10);
        @include for-desktop-up {
            margin-left: px-to-rem(55);
            margin-bottom: 0;
        }
        
    }

    &__nav-link {
        position: relative;
        transition: all 0.1s ease-in;

        &:after {
            position: absolute;
            bottom: px-to-rem(-3);
            left: 50%;
            display: block;
            content: ' ';
            width: 0;
            height: px-to-rem(2);
            background-color: var(--color-accent);
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover {
            color: var(--color-accent);

            &.header__nav-link:after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }



}