.header {
    padding-top: px-to-rem(50);

    &__top {
        @include flex(row, space-between);
        align-items: center;
    }

    &__nav-list {
        @include flex(row, space-between);
        font-size: px-to-rem(17);
    }

    &__nav-item {
        margin-left: px-to-rem(55);
    }

    &__nav-link {
        position: relative;
        transition: all 0.1s ease-in;

        &:after {
            position: absolute;
            bottom: px-to-rem(-3);
            left: 50%;
            display: block;
            content: ' ';
            width: 0;
            height: px-to-rem(2);
            background-color: var(--color-accent);
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover {
            color: var(--color-accent);

            &.header__nav-link:after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }

    
    
}