.social {
    
    &_big-size{
        width: px-to-rem(246);
    }
    
    &_little-size{
        width: px-to-rem(192);
    }

    &__item {
        @include flex(row, space-between);
    }

    &__ico {

        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.3s;

        @include social-ico(linkedin);
        @include social-ico(git);
        @include social-ico(viber);
        @include social-ico(instagram);
        @include social-ico(facebook);

        &_big-size {
            height: px-to-rem(26);
            width: px-to-rem(26);
        }

        &_little-size {
            height: px-to-rem(20);
            width: px-to-rem(20);
        }
    }

}