.social {

    &_big-size {
        width: px-to-rem(246);
    }

    &_little-size {
        width: px-to-rem(192);
    }

    &__item {
        @include flex(row, space-between);
    }

    &__ico {
        fill: var(--color-text);
        transition: all 0.3s;

        &:hover {
            fill: var(--color-accent);
        }

        &_big-size {
            height: px-to-rem(26);
            width: px-to-rem(26);
        }

        &_little-size {
            height: px-to-rem(20);
            width: px-to-rem(20);
        }
    }

}