.contact{
    padding: px-to-rem(100) 0;

    &__title{
        margin-bottom: px-to-rem(30);
    }

    &__text{
        font-size: px-to-rem(33);
        margin-bottom: px-to-rem(30);
    }
    &__wrapper{
        @include flex(column, space-between);

        @include for-desktop-up{
            @include flex(row, space-between);
            align-items: center;
        }
        
    }
    &__left-side{
        
        @include for-big-desktop-up{
            width: 50%;
        }
    }
    &__right-side{
        width: 100%;
        background-color: #fff;
        color: $colorAccentDark;
        // @include for-desktop-up{

        // }
        @include for-big-desktop-up{
            width: 50%;
        }
    }
    &__links{
        @include flex(column, flex-start);
        @include for-big-desktop-up{
            @include flex(row, flex-start);
        }
    }
    &__mail{
        margin-bottom: px-to-rem(26);
        @include for-big-desktop-up{
            margin-right: px-to-rem(107);
        }
    }
    &__text-for-link{
        margin-bottom: px-to-rem(10);
    }
    &__link-mail{
        font-size: px-to-rem(20);
        transition: all 0.1s ease-in;
        
        &:hover {
            color: var(--color-accent);
        }
    }
    &__soc{
        margin-bottom: px-to-rem(26);
        @include for-big-desktop-up{
            margin-bottom: 0;
        } 
    }
}