.cutaway {
    position: relative;
    padding-bottom: px-to-rem(100);
    &__title {
        font-size: px-to-rem(40);
        font-weight: 600;
        letter-spacing: px-to-rem(2);
        word-spacing: px-to-rem(3);
        margin-bottom: px-to-rem(20);
    }

    &__text {
        font-size: px-to-rem(32);
        font-weight: 400;
        letter-spacing: px-to-rem(2);
        word-spacing: px-to-rem(3);
        margin-bottom: px-to-rem(26);
    }

    &__content {
        @include flex(row, space-between);
        align-items: center;
        padding: px-to-rem(130) 0 px-to-rem(124);

    }

    &__cutaway-my-photo {
        display: none;
        overflow: hidden;
        --size: #{px-to-rem(368)};
        width: var(--size);
        height: var(--size);
        text-align: center;
        background: url(./../images/header/i22.jpg) 50% 3% / 120% no-repeat;

        @include for-desktop-up{
            display: block;
        }
    }

    &__connection {
        @include flex(column, space-between);
        align-items: center;
        font-size: px-to-rem(17);
        @include for-tablet-landscape-up{
            @include flex(row, space-between);
        }
    }

    &__mail{
        position: relative;
        transition: all 0.1s ease-in;
        margin-top: px-to-rem(26);

        @include for-tablet-landscape-up{
            margin-top: 0;
        }
        &:hover {
            color: var(--color-accent);
        }
    }
}