.skills {
    padding: px-to-rem(100) 0;

    &__title {
        margin-bottom: px-to-rem(49);
    }

    &__list {
        @include flex(row, center);
        flex-wrap: wrap;
        width: 100%;
        // height: px-to-rem(163);
        @include for-tablet-landscape-up{
            @include flex(row, flex-start);
        }
        @include for-big-desktop-up{
            width: 80%;
        }
    }

    &__item {
        @include flex(row, flex-start);
        align-items: center;
        font-size: px-to-rem(24);
        margin-right: px-to-rem(83);
        margin-bottom: px-to-rem(49);
        height: px-to-rem(57);

    }

    &__ico {
        margin-right: px-to-rem(18);
        transform: translateY(7%);
    }

}