* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    color: var(--color-text);
    background-color: var(--color-accent-dark-second);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

li {
    list-style: none;
}

.font-lighter{
    font-weight: 400;
}
.text-accent{
    color: var(--color-accent);
}
.border{
    border: px-to-rem(1) solid var(--color-accent);
}
