@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubic'), 
      url('./../fonts/Rubik-Regular.woff2') format('woff2'),
      url('./../fonts/Rubik-Regular.woff') format('woff'),
      url('./../fonts/Rubik-Regular.ttf') format('ttf'),
      url('./../fonts/Rubik-Regular.eot') format('eot');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Rubic'), 
      url('./../fonts/Rubik-Medium.woff2') format('woff2'),
      url('./../fonts/Rubik-Medium.woff') format('woff'),
      url('./../fonts/Rubik-Medium.ttf') format('ttf'),
      url('./../fonts/Rubik-Medium.eot') format('eot');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Rubick'), 
      url('./../fonts/Rubik-SemiBold.woff2') format('woff2'),
      url('./../fonts/Rubik-SemiBold.woff') format('woff'),
      url('./../fonts/Rubik-SemiBold.ttf') format('ttf'),
      url('./../fonts/Rubik-SemiBold.eot') format('eot');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubick'), 
      url('./../fonts/Rubik-Bold.woff2') format('woff2'),
      url('./../fonts/Rubik-Bold.woff') format('woff'),
      url('./../fonts/Rubik-Bold.ttf') format('ttf'),
      url('./../fonts/Rubik-Bold.eot') format('eot');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Rubick'), 
      url('./../fonts/Rubik-ExtraBold.woff2') format('woff2'),
      url('./../fonts/Rubik-ExtraBold.woff') format('woff'),
      url('./../fonts/Rubik-ExtraBold.ttf') format('ttf'),
      url('./../fonts/Rubik-ExtraBold.eot') format('eot');
}

@font-face {
  font-family: 'Rubik';
  src: url(./../fonts/Rubik-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

