.connection{
    img{
        fill: #fff;
        width: 200px;
    }
    .testsvg{

    }
    .div{
        height: 16px;
        fill: white;
        background-color: white;
        background-image: url(./../images/icons/git.svg);
    }
    
}

