.header{
    background-color: var(--color-accent-dark-second);
    height: 100vh;
    border: 1px solid var(--color-accent-dark);

    &__top{
        @include flex(row, space-between);
        align-items: center;
    }
    &__nav-list{
        @include flex(row, space-between);
    }
    &__nav-item{
        margin-left: 26px;
    }
    &__nav-link{
        transition: all 0.1s ease-in;
        &:hover{
            color: var(--color-accent);
        }
    }
    &__title{
        @include font-size-rems(64);
        letter-spacing: 4px;
        word-spacing: 6px;
    }
    &__text{
        @include font-size-rems(32);
        font-weight: 200;
        letter-spacing: 2px;
        word-spacing: 3px;
        margin-bottom: 16px;
        .header__title_light{
            font-size: 400;
        }
    }
}