@import 'normalize';
@import 'fonts';
@import 'mixin';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    color: var(--color-text);
    background-color: var(--color-accent-dark-second);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1290px;
    margin: auto;
    padding: 0 20px;
}
.font-lighter{
    font-weight: 400;
}
.text-accent{
    color: var(--color-accent);
}
.border{
    border: 1px solid var(--color-accent);
}
// blocks
@import './blocks/header';
@import './blocks/logo';
@import './blocks/button';
@import './blocks/social';