@import 'normalize';
@import 'mixin';
@import 'variables';


// Base
@import 'base/fonts';
@import 'base/common';

// animations
// @import './animation/';

// layout classes (.container) & extends
@import './layout/containers';

//libraries
@import 'libraries/_slider.scss';


//elements; - small BEM  blocks
@import 'elements/logo';
@import 'elements/button';


//components; - middle BEM blocks
@import 'components/header';
@import 'components/social';
@import './components/_footer.scss';
@import './components/_forma.scss';
// @import 'components/footer';
// @import 'components/modal';


// sections - big BEM  blocks
// @import './libraries/bg';
@import 'sections/cutaway';
@import './sections/skills';
@import './sections/working';
@import './sections/did';
@import './sections/experience';
@import './sections/contact';






