@import 'normalize';
@import 'mixin';
@import 'variables';


// Base
@import 'base/fonts';
@import 'base/common';

// animations
// @import './animation/';

// layout classes (.container) & extends
@import './layout/containers';

//libraries
@import 'libraries/_test.scss';


//elements; - small BEM  blocks
@import 'elements/logo';
@import 'elements/button';


//components; - middle BEM blocks
@import 'components/header';
@import 'components/social';
// @import 'components/footer';
// @import 'components/modal';


// sections - big BEM  blocks
@import 'sections/cutaway';
@import './sections/skills';





