//color
$colorText: #FFF;
// colortheme
$colorAccent: rgb(255, 198, 117);
$colorAccentDark: #1F2336;
$colorAccentDarkSecond: #202437;


:root{
    --color-text: #{$colorText};
    --color-accent: #{$colorAccent};
    --color-accent-dark: #{$colorAccentDark};
    --color-accent-dark-second: #{$colorAccentDarkSecond}; 
}





