:root{
    --color-text: hsl(0, 0%, 100%);
    --color-accent: hsl(35, 100%, 73%);
    --color-accent-dark: hsl(233, 25%, 26%);
    --color-accent-dark-second: hsl(230, 27%, 17%); 
}





//color
$colorText: #FFF;
// colortheme
$colorAccent: #FFC576;
$colorAccentDark: #1F2336;