//color
$colorText: #FFF;
// colortheme
$colorAccent: rgb(255, 198, 117);
$colorAccentDark: rgb(31, 35, 54);
$colorAccentDarkSecond: rgb(32, 36, 55);


//colortheme2
// $colorText: #000;

// $colorAccent: rgb(31, 35, 54);
// $colorAccentDark: rgb(252, 252, 252);
// $colorAccentDarkSecond: rgb(187, 187, 187);


:root{
    --color-text: #{$colorText};
    --color-accent: #{$colorAccent};
    --color-accent-dark: #{$colorAccentDark};
    --color-accent-dark-second: #{$colorAccentDarkSecond}; 
}





